<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  Change Gmail settings to use roastery, not sure if it works
  -->
<configuration>
	<appSettings>
		<add key="Version" value="2.1.2.3" />
		<add key="rn_SysEmailFrom" value="orders@quaffee.co.za" />
		<add key="SysEmailFrom" value="orders@roastery.co.za" />
		<add key="EMailLogIn" value="orders@roastery.co.za" />
		<add key="EMailPassword" value="TjziAb5BS29tjyG" />
		<add key="EMailSMTP" value="winsvrmail05.hostserv.co.za" />
		<add key="EMailPort" value="25" />
		<add key="EMailSSLEnabled" value="false" />
		<add key="rn_EMailSMTP" value="mail.roastery.co.za" />
		<add key="rn_EMailPort" value="25" />
		<add key="rn_EMailSSLEnabled" value="false" />
		<add key="123_SysEmailFrom" value="orders@quaffee.com" />
		<add key="123_EMailLogIn" value="orders@quaffee.com" />
		<add key="123EMailPassword" value="Quaff3r*rder" />
		<add key="123_EMailSMTP" value="mail.quaffee.com" />
		<add key="123_EMailPort" value="587" />
		<add key="123_ssl_EMailPort" value="465" />
		<add key="123_EMailSSLEnabled" value="true" />
		<add key="1_EMailLogIn" value="orders@quaffee.com" />
		<add key="1_EMailPassword" value="Quaff3r*rder" />
		<add key="1_EMailSMTP" value="mail.quaffee.com" />
		<add key="1n_EMailPort" value="587" />
		<add key="1_EMailPort" value="465" />
		<add key="1_EMailSSLEnabled" value="true" />
		<add key="_GMailLogIn" value="admin@equaffee.com" />
		<add key="GMailLogIn" value="orders@roastery.co.za" />
		<add key="_GMailPassword" value="G$quaff33.e" />
		<add key="GMailPassword" value="TjziAb5BS29tjyG" />
		<add key="__EMailSMTP" value="tankjnr.aserv.co.za" />
		<add key="_GMailSMTP" value="smtp.gmail.com" />
		<add key="GMailSMTP" value="mail.roastery.co.za" />
		<add key="DefaultDeliveryID" value="6" />
	</appSettings>
	<connectionStrings>
		<add name="ApplicationServicesServer" connectionString="workstation id=TrackerDotNetSecurity.mssql.somee.com;packet size=4096;user id=quaffermac_SQLLogin_1;pwd=kxb537b6gc;data source=TrackerDotNetSecurity.mssql.somee.com;persist security info=False;initial catalog=TrackerDotNetSecurity" />
		<add name="ApplicationServices" connectionString="Data Source=SQL8001.site4now.net;Initial Catalog=db_a8d7e2_trackersecurity;User Id=db_a8d7e2_trackersecurity_admin;Password=kxb537b6gc" />
		<add name="Tracker08ConnectionString" connectionString="PROVIDER=MICROSOFT.JET.OLEDB.4.0;DATA SOURCE=h:\root\home\webquaffer-001\www\qtracker\Data\QuaffeeTracker08.mdb" providerName="System.Data.OleDb" />
		<!--
	  <add name="Tracker08ConnectionString" connectionString="PROVIDER=MICROSOFT.JET.OLEDB.4.0;DATA SOURCE=d:\DZHosts\LocalUser\quaffermac\www.qont.somee.com\Data\QuaffeeTracker08.mdb" providerName="System.Data.OleDb" />
	-->
	</connectionStrings>
	<system.web>
		<authorization>
			<allow roles="Administrators, AgentManager, Agents, repair" />
			<deny users="?" />
		</authorization>
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880" />
		</authentication>
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="true">
			<providers>
				<clear />
				<add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
				<add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
			</providers>
		</roleManager>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
		<xhtmlConformance mode="Transitional" />
		<customErrors mode="Off" />
		<machineKey decryptionKey="25AEF974B0AA6F8F8D46D5275CE0BAF755D519D6A519A329" validationKey="0E7C4CC08FB899B6520DF0B4AA2D52FEF88F7EC14B1E7415F7EBAC24D63462166BF81A69A7C70B02FA114E788B86C475F03CE21E34941BFDB5FA76F05A3245EF" />
	</system.web>
	<location path="Default.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
		<defaultDocument>
			<files>
				<add value="default.aspxx" />
			</files>
		</defaultDocument>
		<rewrite>
			<rules>
				<rule name="HTTP to HTTPS redirect" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
				</rule>
			</rules>
		</rewrite>
		<httpErrors errorMode="Detailed" />
		<urlCompression doDynamicCompression="false" />
		<caching enabled="false" />
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp from="orders@quaffee.co.za">
				<network host="mail.quaffee.com" password="Quaff3r*rder" userName="orders@quaffee.com" />
			</smtp>
		</mailSettings>
	</system.net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.4" newVersion="2.1.0.4" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>