vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|07 Oct 2011 07:59:15 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{FA614C9B-E238-49E5-B887-3218B22C9AA6}
vti_cacheddtm:TX|07 Oct 2011 07:59:15 -0000
vti_filesize:IR|193
vti_backlinkinfo:VX|
vti_sourcecontrolversion:SX|V1
vti_sourcecontrolcookie:SX|fp_internal
